        #title-webinar {
            color: #000DFF;
            font-family: 'Montserrat', sans-serif;
            ;
        }
        
        #about-webinar {
            color: black;
            font-family: 'Lato', sans-serif
        }
        
        #about-speaker {
            color: black;
            font-family: 'Lato', sans-serif;
        }